@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin : 0;
}
:root{
  --primary: #df9c0b;
  --secondary: #4e4e4e;
  --error: #f73636;
  --background-color: antiquewhite;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  background-color: var(--background-color);
}

.nav-bar{
  display: flex;
  justify-content:flex-end;
  background-color: #38a9c5;
  width:100%;
  margin-bottom: 20px;
}
h1{
  color: #00FF99;
  font-family: "Shadows Into Light";
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight:bold;
  text-align: center;
  margin: 0px;
  margin-right: auto;
  padding:0px 10px;
}
.nav-bar h2{
  margin-top: 30px;
  margin-right: 10px;
  color : #4e4e4e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-top: 35px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd900;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top:-5px;
  left: 0px;
  bottom: 4px;
  background-color: rgb(243, 241, 241);
  -webkit-transition: .4s;
  transition: .4s;
}

.buttoninput:checked + .slider {
  background-color: #020202;
}

.buttoninput:focus + .slider {
  box-shadow: 0 0 1px #020202;
}

.buttoninput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(30px);
  background-color: #ffd900;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  
/**********/

/* upload form styles */
.title{
  text-align: center;
  font-size: 1.5rem;
}
form{
  margin: 30px auto 10px;
  text-align: center;
}
.inputLabel input{
  height: 0;
  width: 0;
  opacity: 0;
}
.inputLabel{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
.inputLabel:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding : 0px 0px 0px 150px;
  
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
  justify-content: space-between;
}
.img-wrap img{
  width:200px;
  min-width: 60%;
  min-height: 60%;
  max-height: 60%;
  position: absolute;
  top: 0;
  left: 0;
}

.like-bar{
  margin: 50px;
  display: flex;
  justify-content:flex-start;
  max-width: 47%;
}
.like-button{
  display: inline-flex;
  
  margin-left: -50px;
  padding: 5px 5px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
}
.like-button:hover {
  background-color: #043506;
}
.like-delete:hover {
  background-color: #031a38;
}
.like-button:active {
  background-color: #cf7f06;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.like-delete:active {
  background-color: #cf7f06;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.like-delete{
  display: inline-flex;
  padding: 2px 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #083775;
  border: none;
  border-radius: 100px;
}
.like{
  display: inline-flex;
  padding-left: 5px;
  margin-right: auto;
  margin-top: 5px;
  font-size: medium;
}
/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}